  server {
    listen 80;

    location /admin/ {
      root /usr/share/nginx/html;
      index index.html;
      try_files $uri $uri/ /admin/index.html;
    }


    location / {
      root   /usr/share/nginx/html;
      index  index.html index.htm;
      try_files $uri $uri/ /index.html;
    }

    location /api/ {
      proxy_pass ${REACT_APP_API_BASE_URL};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }
  }
