.category-section {
    padding: 40px 20px;
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
  }
  
  
  .category-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .category-card {
    background-color: #eaf2f3;
    border-radius: 16px;
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .category-image-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  
  .category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .category-footer {
    background-color: #23443d;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .see-more-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  